## Multiple Classifiers Exercise _ Solutions

#### import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### import data. Cars file available in this folder

In [2]:
df = pd.read_csv('car.csv')

In [3]:
df.head()

  Buying maintenance  doors  person lug_boot safety target
0  vhigh       vhigh      2       2    small    low     no
1  vhigh       vhigh      2       2    small    med     no
2  vhigh       vhigh      2       2    small   high     no
3  vhigh       vhigh      2       2      med    low     no
4  vhigh       vhigh      2       2      med    med     no

#### Check the head of dataframe

#### Perform EDA, check shape, datatypes, do treatment for null values

#### convert categorical variables into numerical variables

In [4]:
df_buying = pd.get_dummies(df['Buying'],drop_first=True)

In [5]:
df_maintenance = pd.get_dummies(df['maintenance'],drop_first=True)
df_lug_boot = pd.get_dummies(df['lug_boot'],drop_first=True)
df_safety = pd.get_dummies(df['safety'],drop_first=True)

In [6]:
def func(x):
    if x == 'yes':
        return 1
    elif x == 'no':
        return 0
    else:
        return x

In [7]:
df['target'] = df['target'].apply(func)

#### concatenate all dataframes together

In [9]:
df_new = pd.concat([df_buying,df_maintenance,df_lug_boot,df_safety,df],axis=1)

#### check the dataframe and see how many columns has been added

In [12]:
df_new.head(10)

,low,med,vhigh,low,med,vhigh,med,small,low,med,doors,person,target
0,0,0,1,0,0,1,0,1,1,0,2,2,0
1,0,0,1,0,0,1,0,1,0,1,2,2,0
2,0,0,1,0,0,1,0,1,0,0,2,2,0
3,0,0,1,0,0,1,1,0,1,0,2,2,0
4,0,0,1,0,0,1,1,0,0,1,2,2,0
5,0,0,1,0,0,1,1,0,0,0,2,2,0
6,0,0,1,0,0,1,0,0,1,0,2,2,0
7,0,0,1,0,0,1,0,0,0,1,2,2,0
8,0,0,1,0,0,1,0,0,0,0,2,2,0
9,0,0,1,0,0,1,0,1,1,0,2,4,0

#### drop the categorical variables columns

In [11]:
df_new.drop(['Buying','maintenance','lug_boot','safety'],axis=1,inplace=True)

#### import train_test_split from sklearn

In [13]:
from sklearn.cross_validation import train_test_split

#### Create variables X and y

In [14]:
X = df_new.drop('target',axis=1)
y = df_new['target']

#### perform data scaling if required

#### split the data into 80% training and 20% testing and random state as 101

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Import Respective Machine Learning Classifiers

In [16]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.dummy import DummyClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier

#### create a dictionary of classifiers

In [17]:
classifers = {
    "Dummy":DummyClassifier(strategy='uniform',random_state=2),
    "KNN(3)":KNeighborsClassifier(3),
    "Logistic_Regression": LogisticRegression(),
    "Decision_Tree": DecisionTreeClassifier(max_depth=7),
    "Random Forest": RandomForestClassifier(max_depth=7,n_estimators=10,max_features=4),
    "Neural_Net": MLPClassifier(alpha=1),
    "AdaBoost": AdaBoostClassifier(),
    "Naives_Bayes": GaussianNB(),
    "QDA": QuadraticDiscriminantAnalysis(),
    "RBFSVM": SVC(gamma=2, C=1),
    "linearSVC": LinearSVC(),
    "LinearSVM": SVC(kernel='linear'),
    "Gaussian_Process": GaussianProcessClassifier(1.0 * RBF(1.0))
}

#### fit the model into the object and predict the score

In [18]:
from time import time
nfast = 10

head = list(classifers.items())[:nfast]

for name,classifier in head:
    start = time()
    classifier.fit(X_train,y_train)
    train_time = time() - start
    start = time()
    score = classifier.score(X_test,y_test)
    score_time = time() - start
    print("{:<15} | score = {:.3f} | time = {:,.3f}s | {:,.3f}s".format(name,score,train_time,score_time))

Dummy           | score = 0.486 | time = 0.002s | 0.002s
KNN(3)          | score = 0.954 | time = 0.004s | 0.010s
Logistic_Regression | score = 0.974 | time = 0.305s | 0.003s
Decision_Tree   | score = 0.954 | time = 0.003s | 0.001s
Random Forest   | score = 0.951 | time = 0.016s | 0.002s
Neural_Net      | score = 0.974 | time = 0.434s | 0.001s
AdaBoost        | score = 0.986 | time = 0.097s | 0.007s
Naives_Bayes    | score = 0.711 | time = 0.002s | 0.001s
QDA             | score = 0.919 | time = 0.023s | 0.001s
RBFSVM          | score = 0.925 | time = 0.117s | 0.017s

/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:682: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")